.viejuners {
        background-color: #aeaeef;
        display:grid;
        width: 70%;
        margin:auto;
        max-width: 400px;
        border-radius: 1 em;
        padding: 50px;
}


.ladrones {
    background-color: #aeaeef;
    display:grid;
    width: 70%;
    margin:auto;
    max-width: 400px;
    border-radius: 1 em;
    padding: 50px;
}


.message {
    width: 100%;
}

